*{
    margin: 0;
    padding: 0;
}
.logo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    margin: 10px 50px 10px 50px;
    flex-direction: column;
    gap: 20px;
}
.items{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 2px solid black;
    gap: 5px;
}
.container button{
    border-radius: 10px;
    max-height: 20px;
    min-width: 30px;
    cursor: pointer;
}
.takeNote{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}
.takeNote input{
    width: 250px;
    height: 15px;
    padding: 10px;
}
.takeNote button{
    cursor: pointer;
    width: 50px;
}