*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-image: linear-gradient(to bottom right , #f8fafc, #a7b9f9, #faf5ff);
    --text-color: black;
}
.dark-mode{
    --bg-image: linear-gradient(to right , #0f172a ,#4c1a72 , #0f172a);
    --text-color: white;
}
body{
    height: 100vh;
    display: flex;
    background-image: var(--bg-image);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}
header.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: clamp(1em, 2.5vw, 2em);
    font-weight: bold;
}

.mode{
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    border: none;
    background-color: transparent;
}
.sidebar{
    padding-top: 50px;
    border-right: 2px solid black;
    width: clamp(400px, 20%, 500px);
}
.sidebar div{
    cursor: pointer;
    padding: 10px;
    text-align: center;
}
.sidebar div:hover{
    background-color: rgba(0,0,0,0.1);
}
.topbar{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.main{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 85%;
    gap: 10px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 50px 10px 50px;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}
.menu{
    display: none;
    cursor: pointer;
    margin: 5px;
    font-size: clamp(2vw, 2.5vw, 3vw);
}
.errDiv{
    position: absolute;
    padding: 10px;
    top: 5px;
    right: 5px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    transition: opacity 0.55s ease-out, visibility 0.55s ease-out;
}
.animateErr{
    opacity: 0;
    visibility: hidden;
}
.items{
    position: relative;
    white-space: pre-wrap;
    padding: 15px;
    border: 2px solid black;
    box-shadow: 1px 1px 5px grey;
    overflow: hidden;
    max-height: 19px;
    transition: max-height 0.7s ease;
}

.takeNote{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}
textarea#note {
    background-color: transparent;
    width: 50%;
    height: 30px;
    padding: 10px;
    border: 1px solid black;
}
.takeNote button{
    background: linear-gradient(to right, #7c3aed, #a855f7);
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding : 10px;
}
.note{
    resize: none;
}
.items:hover{
    max-height: 20vh;
    overflow: auto;
}

.items::first-line{
    font-size: 1.8em;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.container button{
    
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btnDone{

    width: 40%;
}
.btnPin{
    cursor: pointer;
    font-size: large;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
}
.delbtn{
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-size: large;
    height: 30px;
    width: 30px;
}
.pageToggle{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.pageToggle button{
    width: 30px;
    height: 33px;
    font-size: 1.2em;
}
.pageToggle div{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.items::-webkit-scrollbar{
    display: none;
}

.btnDone:hover{
background-color: lime;
}

.prevPage,.nextPage{
    cursor: pointer;
}

@media (max-width:800px) {
    .menu{
        font-size: 1.8em;
        font: bold;
        display: block;
        top: 25px;
        left: 25px;
        
    }
    .sidebar{
        display: none;
    }
    .active{
        display: block;
    }
    .container{
        grid-template-columns: 1fr;
        margin: 10px 20px 10px 20px;
    }
}