*{
    margin: 0;
    padding: 0;
}
.logo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    margin: 10px 50px 10px 50px;
    flex-direction: column;
    gap: 20px;
}
.items{
    white-space: pre-wrap;
    padding: 15px;
    border: 2px solid black;
    overflow: hidden;
    max-height: 19px;
}

.container button {
    display: flex;
}
.takeNote{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}
textarea#note {
    width: 50%;
    height: 50px;
    padding: 10px;
}
.takeNote button{
    cursor: pointer;
    width: 50px;
}
.note{
    resize: none;
}
.items:hover{
    background-color: rgb(244, 255, 255);
    max-height: 100%;
}
.items::first-line{
    font-size: 1.8em;
}
