*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: white;
    --text-color: black;
}
.dark-mode{
    --bg-color: #121212;
    --text-color: white;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}
.mode{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    border: none;
    background-color: transparent;
}
.logo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    margin: 10px 50px 10px 50px;
    flex-direction: column;
    gap: 20px;
}
.items{
    position: relative;
    white-space: pre-wrap;
    padding: 15px;
    border: 2px solid black;
    box-shadow: 1px 1px 5px grey;
    overflow: hidden;
    max-height: 19px;
    transition: max-height 0.7s ease;
}

.takeNote{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}
textarea#note {
    width: 50%;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
}
.takeNote button{
    cursor: pointer;
    width: 50px;
    border: 1px solid black;
}
.note{
    resize: none;
}
.items:hover{
    max-height: 20vh;
    overflow: auto;
}

.items::first-line{
    font-size: 1.8em;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.container button{
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btnDone{
    width: 40%;
}
.btnPin{
    cursor: pointer;
    font-size: large;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
}
.delbtn{
    border-radius: 20px;
    height: 30px;
    width: 30px;
}
.pageToggle{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.pageToggle button{
    width: 30px;
    height: 33px;
    font-size: 1.2em;
}
.pageToggle div{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.items::-webkit-scrollbar{
    scrollbar-width: thin;
}
.items::-webkit-scrollbar-thumb{
    background-color: rgb(194, 194, 194);
    border-radius: 50px;
}
.btnDone:hover{
background-color: lime;
}
.btnDrop:hover{
    background-color: red;
}
.delbtn:hover{
    background-color: rgb(109, 100, 100);
}

.prevPage,.nextPage{
    cursor: pointer;
}