*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-image: linear-gradient(to bottom right , #f8fafc, #a7b9f9, #faf5ff);
    --text-color: black;
}
.dark-mode{
    --bg-image: linear-gradient(to right , #0f172a ,#4c1a72 , #0f172a);
    --text-color: white;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    background-image: var(--bg-image);
    color: var(--text-color);
}
.topbar{
    min-height: 20vw;
}
header {
    display: flex;
    align-items: center;
    font-size: clamp(1em, 2.5vw, 2em);
}

.installBtn{
    display: none;
}
.mode{
    cursor: pointer;
    font-size: 2em;
    border: none;
    background-color: transparent;
}
.sidebar{
    height: 100%;
    width: 200px;
    position: fixed;
    left: -500px;
    border-right: 2px solid var(--text-color);
    transition: left 0.5s ease;
}
.sidebar.active{
    left: 0px;
}
.sidebar div{
    cursor: pointer;
    padding: 10px;
    text-align: center;
}
.sidebar div:hover{
    background-color: rgba(0,0,0,0.1);
}

.noteblock{
    overflow-y: auto;
}
.menu{
    cursor: pointer;
    padding: 5px;
    font-size: clamp(1em, 1.5em, 3em);
}
.errDiv{
    position: absolute;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    transition: opacity 0.55s ease-out, visibility 0.55s ease-out;
}
.animateErr{
    opacity: 0;
    visibility: hidden;
}
.items{
    min-height: 60px;
    position: relative;
    white-space: pre-wrap;
    padding: 15px;
    border: 2px solid black;
    box-shadow: 1px 1px 5px grey;
    overflow: hidden;
    max-height: 19px;
    transition: max-height 0.7s ease;
}

.takeNote{
    height: 10%;
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}
textarea#note {
    background-color: transparent;
    width: 50%;
    height: 100%;
    padding: 10px;
    border: 1px solid black;
}

.note{
    resize: none;
}
.items:hover{
    max-height: 20vh;
    overflow: auto;
}

.items::first-line{
    font-size: 1.8em;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.container button{
    
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btnDone{

    width: 40%;
}
.btnPin{
    cursor: pointer;
    font-size: large;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
}
.delbtn{
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-size: large;
    height: 30px;
    width: 30px;
}

.items::-webkit-scrollbar{
    display: none;
}

.btnDone:hover{
background-color: lime;
}

.prevPage,.nextPage{
    cursor: pointer;
}

@media (max-width:1000px) {
    .sidebar{
        position: fixed;
        left: -100%;
        height: 100%;
        width: 150px;
        transition: 0.3s ease;
        z-index: 1000;
    } 
}
@media (max-width:700px) {
    .sidebar{
        position: fixed;
        left: -100%;
        height: 100%;
        width: 100%;
        transition: 0.3s ease;
        z-index: 1000;
        background-image: var(--bg-image);
    } 
    .main{

    }
}