*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-image: linear-gradient(to bottom right , #f8fafc, #a7b9f9, #faf5ff);
    --text-color: black;
}
.dark-mode{
    --bg-image: linear-gradient(to right , #0f172a ,#4c1a72 , #0f172a);
    --text-color: white;
}
html,body{
    height: 100%;
}
body{
    background-image: var(--bg-image);
    color: var(--text-color);
}
.topbar{
    min-height: 15vh;
}
header {
    font-size: clamp(1em, 2.5vw, 2em);
}

.dark-mode .navbar-toggler-icon{
    filter:invert(1);
}

.mode{
    font-size: 2em;
    background-color: transparent;
}
.offcanvas-title{
    font-size: clamp(2em ,5vw,4em);
}
.offcanvas.offcanvas-start.show{
    color: var(--text-color);
    background-image: var(--bg-image);
}
.offcanvas.offcanvas-start.show button{
    font-size: 25px; 
}
.dark-mode .offcanvas.offcanvas-start.show button{
    filter: invert(1);
}
.note{
    border-radius: 10px;
    height: 100px;
    padding: 10px;
}
.note-nav{
    padding: 25px;
}
.noteblock{
    overflow-y: auto;
}
.dark-mode .btn-close{
    filter: invert(1);
}
.errDiv{
    position: fixed;
    margin-bottom: 10px;
    font-weight: bold;
    transition: opacity 0.55s ease-out, visibility 0.55s ease-out;
}
.animateErr{
    opacity: 0;
    visibility: hidden;
}
.items{
    min-height: 70px;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
    overflow: hidden;
    max-height: 20px;
    transition: all 0.5s ease;
}


.close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#note-text{
    width: 100%;
    background: transparent;
}
.modal-content{
    background-image: var(--bg-image);
}
.modal-dialog{
    margin-top: 20vh;
}
.items:hover{
    max-height: 20vh;
    overflow: auto;
}

.items::first-line{
    font-size: 1.8em;
    font-weight: 500;
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}
.installBtn{
    display: none;
}
.btnDone,.delbtn{
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--text-color);
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 600;
    color: (var(--text-color));
}
.btnPin{
    cursor: pointer;
    font-size: 1.3em;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    z-index: 10;
}

.items::-webkit-scrollbar{
    display: none;
}

.btnDone:hover{
background-color: lime;
}
.delbtn:hover{
    background-color: red;
}
.prevPage,.nextPage,.currPage{
    margin-top: 30px;
    font-size: 1.2em;
}
